.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e; /* this is the styling for the navigation when you click a product*/
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}